*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Twemoji Country Flags', 'Twemoji Country Flags', -apple-system,BlinkMacSystemFont,"Segoe UI","Noto Sans",system-ui,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

h3 {
    font-size: 18px;
    font-weight: 400;
}

p {
    font-family: 'Twemoji Country Flags', 'Twemoji Country Flags', -apple-system,BlinkMacSystemFont,"Segoe UI","Noto Sans",system-ui,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}
:root {
    --primary-color: #202020;
    --secondary-color: #666666;
    --secondary-color1: #6666663f;
    --secondary-color2: #66666613;
    --background-color: #FFFFFF;
    --sidebarBg: #FCFAF8;
    --red: #DC4C3E;
    --red1: #d11807;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
}

.main-cont {
    display: grid;
    grid-template-columns: 300px 1fr;
    height: 1350px;
}


/* sidebar */
.main-cont .sidebar {
    background-color: var(--sidebarBg);
    border-right: 1px solid var(--secondary-color);
    grid-column: 1/2;
    grid-row: 1/2;
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    margin-bottom: 30px;
}

.sidebar .features-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar .features {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.sidebar .side {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    gap: 10px;
    width: 100%;
    cursor: pointer;
    transition: all ease-in-out 0.3s;
}

.sidebar .side:hover {
    background-color: var(--secondary-color1);
    border-radius: 10px;
}

.sidebar span {
    width: 24px;
    height: 24px;
}

.addTask svg {
     color: #DC4C3E;
}

.sidebar .projects-cont {
    display: flex;
    align-items: center;
    margin-top: 30px;
    padding: 5px 10px;
    cursor: pointer;
    transition: all ease-in-out 0.3s;
}

.sidebar .projects-cont:hover {
    background-color: var(--secondary-color1);
    border-radius: 10px;
}

.sidebar-top .projects-cont h3 {
   color: var(--secondary-color);
   font-size: 18px;
   font-weight: 600;
}

.sidebar .help {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    padding: 5px 10px;
    cursor: pointer;
    transition: all ease-in-out 0.3s;
}

.sidebar .help:hover {
    background-color: var(--secondary-color1);
    border-radius: 10px;
}

.nav button {
    cursor: pointer;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    border-radius: 5px;
    background-color: transparent;
    transition: all ease-in-out 0.3s;
    
}
.nav button:hover {
    background-color: var(--secondary-color1);
    
}

/* content */

.main-cont .content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}

.main-cont .content .header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--sidebarBg);
    height: 8%;
    gap: 10px;
}

.main-cont .content .header h2{
    font-size: 36px;
    padding: 10px 20px;
    color: var(--red);
    background-color: var(--secondary-color1);
    border-radius: 10px;
}

.main-cont .content .body-cont{
    background-color: var(--background-color);
    height: 90%;
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 50px;
    width: 100%;
}

.main-cont .content .body{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

/* form */
.main-cont .content .body #form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
}

.main-cont .content .body #add-task-cont {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    border: 1px solid var(--secondary-color1);
    border-radius: 20px;
}

.main-cont .content .body #add-task-cont #form-head{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 20px 0;
    padding-left: 20px;
}


/* task head */
.main-cont .content .body #add-task-cont #form-head #task-h{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    gap: 10px;
}

.main-cont .content .body #add-task-cont #form-head #task-h input{
    font-family: 'Twemoji Country Flags', 'Twemoji Country Flags', -apple-system,BlinkMacSystemFont,"Segoe UI","Noto Sans",system-ui,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    width: 100%;
    border: 0;
} 

.main-cont .content .body #add-task-cont #form-head #task-h input:focus{
  outline: 0;
} 

.main-cont .content .body #add-task-cont #form-head #task-h #task-title{
    /* padding: 10px 0px; */
    padding-left: 0px;
    font-size: 1.5rem;
} 

.main-cont .content .body #add-task-cont #form-head #task-h #task-title::placeholder{
    font-weight: 600;
    font-size: 1.2rem;
    color: var(--secondary-color);
} 

.main-cont .content .body #add-task-cont #form-head #task-h #task-desc{
    /* padding: 10px 0px; */
    padding-left: 0px;
    font-size: 1rem;
} 

.main-cont .content .body #add-task-cont #form-head #task-h #task-desc::placeholder{
    font-size: 1rem;
    color: var(--secondary-color);
} 

/* task prop */
.main-cont .content .body #add-task-cont #form-head #prop{
    display: flex;
    gap: 10px;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}

.main-cont .content .body #add-task-cont #form-head #prop #top-prop{
    display: flex;
    gap: 2px;
    align-items: center;
    border: 1px solid var(--secondary-color1);
    padding: 10px 5px;
    border-radius: 10px;
}

.main-cont .content .body #add-task-cont #form-head #prop #top-prop h4{
    font-size: 12;
    font-weight: 400;
}

.main-cont .content .body #add-task-cont #form-head #prop #top-prop #due-date{
    width: 20px;                  /* Match the exact width of the icon */
    height: 20px;                 /* Match the exact height of the icon */
    padding: 0;
    border: none;
    cursor: pointer;
    overflow: hidden;            /* Hide the mm/dd/yyyy text text */
    background: transparent;
    position: relative;
}

.main-cont .content .body #add-task-cont #form-head #prop #top-prop #due-date::-webkit-calendar-picker-indicator{
    margin: 0;
    padding: 0;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.main-cont .content .body #add-task-cont #form-head #prop #bottom-prop{
    display: flex;
    gap: 2px;
    align-items: center;
    border: 1px solid var(--secondary-color1);
    padding: 10px 5px;
    border-radius: 10px;
}

.main-cont .content .body #add-task-cont #form-head #bottom-prop h4{
    font-size: 12;
    font-weight: 400;
}

.main-cont .content .body #add-task-cont #form-head #prop #bottom-prop #priority{
    width: 20px;          /* Forces the closed dropdown to stay narrow */
    text-overflow: ellipsis; /* Adds "..." if option text is too long */
    overflow: hidden;
    white-space: nowrap;

    outline: 0;
}

.main-cont .content .body #add-task-cont #form-head #prop #bottom-prop #priority option{
    background-color: var(--sidebarBg);
    color: var(--primary-color);
    border-radius: 8px;
    padding: 0 20px;

}

/* form btn */

.main-cont .content .body #add-task-cont #form-btn{
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    border-top: 1px solid var(--secondary-color1);

}


.main-cont .content .body #add-task-cont #form-btn #submit-btn{
    font-family: 'Twemoji Country Flags', 'Twemoji Country Flags', -apple-system,BlinkMacSystemFont,"Segoe UI","Noto Sans",system-ui,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    border: 0;
    background-color: var(--red);
    color: var(--background-color);
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 500;
    transition: all ease-in-out 0.3s;
    cursor: pointer;

}

.main-cont .content .body #add-task-cont #form-btn #submit-btn:hover{
    background-color: var(--red1);

}

.main-cont .content .body #add-task-cont #form-btn #cancel-btn{
    font-family: 'Twemoji Country Flags', 'Twemoji Country Flags', -apple-system,BlinkMacSystemFont,"Segoe UI","Noto Sans",system-ui,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    border: 0;
    background-color: var(--secondary-color2);
    color: var(--secondary-color);
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 500;
    transition: all ease-in-out 0.3s;
    cursor: pointer;
}

.main-cont .content .body #add-task-cont #form-btn #cancel-btn:hover{
    background-color: var(--secondary-color1);
}