*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Twemoji Country Flags', 'Twemoji Country Flags', -apple-system,BlinkMacSystemFont,"Segoe UI","Noto Sans",system-ui,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

h3 {
    font-size: 1rem;
    font-weight: 400;
}

p {
    font-family: 'Twemoji Country Flags', 'Twemoji Country Flags', -apple-system,BlinkMacSystemFont,"Segoe UI","Noto Sans",system-ui,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}
:root {
    --primary-color: #202020;
    --secondary-color: #666666;
    --secondary-color1: #6666663f;
    --secondary-color2: #66666613;
    --background-color: #FFFFFF;
    --sidebarBg: #FCFAF8;
    --sidebarBgHover: #FFEFE5;
    --red: #DC4C3E;
    --red1: #d11807;
}

body {
    font-family: 'Twemoji Country Flags', 'Twemoji Country Flags', -apple-system,BlinkMacSystemFont,"Segoe UI","Noto Sans",system-ui,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    background-color: var(--background-color);
}

.main-cont {
    display: grid;
    grid-template-columns: 1fr;
    height: 1350px;
    transition: grid-template-columns 0.3s cubic-bezier(.4,0,.2,1);
}

.full-width {
    display: grid;
    grid-template-columns:  1fr;
    height: 1350px;
    transition: grid-template-columns 0.3s cubic-bezier(.4,0,.2,1);
}


/* sidebar */
.main-cont .sidebar {
    background-color: var(--sidebarBg);
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: margin-left 0.3s cubic-bezier(.4,0,.2,1);
    position: fixed;
    height: 1350px;
    z-index: 2;
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.25);
    margin-left: -350px;
}

.main-cont .active {
    margin-left: 0px;
    background-color: var(--sidebarBg);
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: margin-left 0.3s cubic-bezier(.4,0,.2,1);
    position: fixed;
    height: 1350px;
    z-index: 2;
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.25);
    /* overflow: hidden; */
}

.sidebar .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    margin-bottom: 30px;
    
}

.nav .toggleBtn {
    position: fixed;
    cursor: pointer;
    height: 42px;
    width: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    border-radius: 5px;
    background-color: transparent;
    transition: all ease-in-out 0.3s;
    
}

.nav .toggleBtn:hover {
    background-color: var(--secondary-color1);
    
}

.sidebar .toggle {
    position: fixed;
    top: 42px;
    left: 20px;
    transition: left 0.3s cubic-bezier(.4,0,.2,1);
}

.sidebar .active-toggle {
    position: fixed;
    top: 42px;
    left: 250px;
    transition: left 0.3s cubic-bezier(.4,0,.2,1);
}

.smooth {
    transition: margin-left 0.3s cubic-bezier(.4,0,.2,1);
}

.sidebar .features-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar .features {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.sidebar .side {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    gap: 10px;
    width: 100%;
    cursor: pointer;
    transition: all ease-in-out 0.3s;
}

.sidebar .side:hover {
    background-color: var(--secondary-color1);
    border-radius: 10px;
}

.sidebar .features-cont span {
    width: 24px;
    height: 24px;
}

.addTask svg {
     color: #DC4C3E;
}

.sidebar .projects-cont {
    display: flex;
    flex-direction: column;
    gap: 10px; 
    margin-top: 30px;
    padding: 5px 10px;
    cursor: pointer;
    transition: all ease-in-out 0.3s;
}

.sidebar .projects-cont #new-project-form{
    display: flex;
    gap: 10px; 
    transition: all ease-in-out 0.3s;
}

.sidebar .projects-cont #new-project-form input[type="text"] {
    display: flex;
    padding-left: 10px;
    border: 1px solid var(--secondary-color1);
    border-radius: 5px;
    font-family: 'Twemoji Country Flags', 'Twemoji Country Flags', -apple-system,BlinkMacSystemFont,"Segoe UI","Noto Sans",system-ui,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.sidebar .projects-cont #new-project-form button {
    font-family: 'Twemoji Country Flags', 'Twemoji Country Flags', -apple-system,BlinkMacSystemFont,"Segoe UI","Noto Sans",system-ui,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    padding: 5px 10px;
    border: 0;
    border-radius: 5px;
    color: var(--primary-color);
    background-color: var(--secondary-color1);
    font-weight: 600;
    cursor: pointer;
    transition: all ease-in-out 0.3s;
}

.sidebar .projects-cont #new-project-form button:hover {
    color: var(--sidebarBg);
    background-color: var(--secondary-color);
    font-weight: 600;
}

.sidebar .projects-cont .sidebar-projects-list {
    display: none;
    flex-direction: column;
    gap: 10px;
    padding: 5px 10px;
    list-style: none;
}

.sidebar .projects-cont .sidebar-projects-list li:hover {
    color: var(--red);
}

.sidebar .projects-cont .projects {
    display: flex; 
    transition: all ease-in-out 0.3s; 
}

.sidebar .projects-cont .sidebar-projects-list li{
    display: flex;
    justify-content: space-between;
}

.sidebar .projects-cont .sidebar-projects-list .active-project{
    color: var(--red);
}

.sidebar .projects-cont .sidebar-projects-list .delete-project-btn{
    font-family: 'Twemoji Country Flags', 'Twemoji Country Flags', -apple-system,BlinkMacSystemFont,"Segoe UI","Noto Sans",system-ui,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    padding: 5px 10px;
    border: 0px;
    border-radius: 5px;
    color: var(--background-color);
    background-color: var(--red);
    font-weight: 600;
    cursor: pointer;
}

.sidebar .projects-cont .sidebar-projects-list .delete-project-btn:hover{
    background-color: var(--red1);
    font-weight: 600;
}

.sidebar .projects-cont h3:hover {
    background-color: var(--secondary-color1);
}

.sidebar-top .projects-cont h3 {
   color: var(--secondary-color);
   font-size: 1rem;
   font-weight: 600;
   padding: 5px 10px;
   border-radius: 5px;
   transition: all ease-in-out 0.3s;
}

.sidebar .help {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    padding: 5px 10px;
    cursor: pointer;
    transition: all ease-in-out 0.3s;
}

.sidebar .help:hover {
    background-color: var(--secondary-color1);
    border-radius: 10px;
}

/* content */

.main-cont .content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}

.main-cont .content .header{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: var(--sidebarBg); */
    height: 8%;
    gap: 10px;
}

.main-cont .content .header h2{
    font-size: 2rem;
    padding: 10px 20px;
    color: var(--red);
    background-color: var(--secondary-color2);
    border-radius: 10px;
}

.main-cont .content .body-cont{
    background-color: var(--background-color);
    height: 90%;
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 20px;
    width: 100%;
}

.main-cont .content .body{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    gap: 50px;
}

/* form */
.main-cont .content .body #form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 60%;
}

.main-cont .content .body #add-task-cont {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    border: 1px solid var(--secondary-color1);
    border-radius: 20px;
}

.main-cont .content .body #add-task-cont #form-head{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 20px 0;
    padding-left: 20px;
}


/* task head */
.main-cont .content .body #add-task-cont #form-head #task-h{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    gap: 10px;
}

.main-cont .content .body #add-task-cont #form-head #task-h input{
    font-family: 'Twemoji Country Flags', 'Twemoji Country Flags', -apple-system,BlinkMacSystemFont,"Segoe UI","Noto Sans",system-ui,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    width: 100%;
    border: 0;
} 

.main-cont .content .body #add-task-cont #form-head #task-h input:focus{
  outline: 0;
} 

.main-cont .content .body #add-task-cont #form-head #task-h #task-title{
    font-size: 1.5rem;
} 

.main-cont .content .body #add-task-cont #form-head #task-h #task-title::placeholder{
    font-weight: 600;
    font-size: 1.5rem;
    color: var(--secondary-color);
} 

.main-cont .content .body #add-task-cont #form-head #task-h textarea{
    font-family: 'Twemoji Country Flags', 'Twemoji Country Flags', -apple-system,BlinkMacSystemFont,"Segoe UI","Noto Sans",system-ui,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    width: 100%;
    border: 0;
} 

.main-cont .content .body #add-task-cont #form-head #task-h textarea:focus{
  outline: 0;
}

.main-cont .content .body #add-task-cont #form-head #task-h #task-desc{
    padding-left: 0px;
    font-size: 1rem;
    border: 0;
    resize: none;    
    min-height: 40px; 
} 

.main-cont .content .body #add-task-cont #form-head #task-h #task-desc::placeholder{
    font-size: 1rem;
    color: var(--secondary-color);
} 

/* task prop */
.main-cont .content .body #add-task-cont #form-head #prop{
    display: flex;
    gap: 10px;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}

.main-cont .content .body #add-task-cont #form-head #prop #top-prop{
    display: flex;
    gap: 5px;
    align-items: center;
    border: 1px solid var(--secondary-color1);
    padding: 10px 5px;
    border-radius: 10px;
}

.main-cont .content .body #add-task-cont #form-head #prop #top-prop h4{
    color: var(--secondary-color);
    font-size: 12;
    font-weight: 400;
}

.main-cont .content .body #add-task-cont #form-head input[type="date"]::-webkit-datetime-edit {
  font-family: 'Twemoji Country Flags', 'Twemoji Country Flags', -apple-system,BlinkMacSystemFont,"Segoe UI","Noto Sans",system-ui,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 0.9rem;
  line-height: 1.5;
  padding: 0;
  margin-left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-cont .content .body #add-task-cont #form-head #prop #top-prop #due-date{
    padding: 3px;
    margin: 0;
    border: none;
    cursor: pointer;
    overflow: hidden;            
    background: var(--sidebarBgHover);
    border-radius: 5px;
    position: relative;
}

.main-cont .content .body #add-task-cont #form-head #prop #top-prop #due-date::-webkit-calendar-picker-indicator{
    margin: 0;
    padding: 0;
    width: 16px;
    height: 16px;
    cursor: pointer;
    
}

.main-cont .content .body #add-task-cont #form-head #prop #bottom-prop{
    display: flex;
    gap: 5px;
    align-items: center;
    border: 1px solid var(--secondary-color1);
    padding: 10px 5px;
    border-radius: 10px;
}

.main-cont .content .body #add-task-cont #form-head #bottom-prop h4{
    color: var(--secondary-color);
    font-size: 12;
    font-weight: 400;
}

.main-cont .content .body #add-task-cont #form-head #prop #bottom-prop #priority{
    font-family: 'Twemoji Country Flags', 'Twemoji Country Flags', -apple-system,BlinkMacSystemFont,"Segoe UI","Noto Sans",system-ui,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 0.9rem;
    line-height: 1.5;
    text-overflow: ellipsis; 
    overflow: hidden;
    white-space: nowrap;
    padding: 3px;
    display: flex;
    border-radius: 3px;
    outline: 0;
}

.main-cont .content .body #add-task-cont #form-head #prop #bottom-prop #priority option{
    background-color: var(--sidebarBg);
    color: var(--primary-color);
    padding: 0 20px;
    font-family: 'Twemoji Country Flags', 'Twemoji Country Flags', -apple-system,BlinkMacSystemFont,"Segoe UI","Noto Sans",system-ui,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    outline: 0;
    font-size: 0.9rem;
    line-height: 1.5;
}

/* form btn */

.main-cont .content .body #add-task-cont #form-foot{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
    border-top: 1px solid var(--secondary-color1);
    padding: 20px;
}

.main-cont .content .body #add-task-cont #projects-drop{
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--secondary-color1);
    padding: 10px 5px;
    border-radius: 10px;
}

.main-cont .content .body #add-task-cont #projects-dropdown{
    font-family: 'Twemoji Country Flags', 'Twemoji Country Flags', -apple-system,BlinkMacSystemFont,"Segoe UI","Noto Sans",system-ui,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 0.9rem;
    line-height: 1.5;
    text-overflow: ellipsis; 
    overflow: hidden;
    white-space: nowrap;
    padding: 3px;
    display: flex;
    border-radius: 3px;
    outline: 0;
}

.main-cont .content .body #add-task-cont #projects-dropdown option{
    background-color: var(--sidebarBg);
    color: var(--primary-color);
    padding: 0 20px;
    font-family: 'Twemoji Country Flags', 'Twemoji Country Flags', -apple-system,BlinkMacSystemFont,"Segoe UI","Noto Sans",system-ui,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    outline: 0;
    font-size: 0.9rem;
    line-height: 1.5;
}

.main-cont .content .body #add-task-cont #projects-drop h4{
    color: var(--secondary-color);
    font-size: 12;
    font-weight: 400;
}

.main-cont .content .body #add-task-cont #form-btn{
    flex: 1;
    display: flex;
    justify-content: flex-end;
    gap: 10px;

}


.main-cont .content .body #add-task-cont #form-btn #submit-btn{
    font-family: 'Twemoji Country Flags', 'Twemoji Country Flags', -apple-system,BlinkMacSystemFont,"Segoe UI","Noto Sans",system-ui,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    border: 0;
    background-color: var(--red);
    color: var(--background-color);
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 500;
    transition: all ease-in-out 0.3s;
    cursor: pointer;

}

.main-cont .content .body #add-task-cont #form-btn #submit-btn:hover{
    background-color: var(--red1);

}

.main-cont .content .body #add-task-cont #form-btn #cancel-btn{
    font-family: 'Twemoji Country Flags', 'Twemoji Country Flags', -apple-system,BlinkMacSystemFont,"Segoe UI","Noto Sans",system-ui,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    border: 0;
    background-color: var(--secondary-color2);
    color: var(--secondary-color);
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 500;
    transition: all ease-in-out 0.3s;
    cursor: pointer;
}

.main-cont .content .body #add-task-cont #form-btn #cancel-btn:hover{
    background-color: var(--secondary-color1);
}

.main-cont .remove {
    width: 50px;
}

/* task cont */
.main-cont .content .body #tasks-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 60%;
    /* border: 1px solid var(--secondary-color1); */
    border-radius: 20px;
}

.main-cont .content .body .taskCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    padding: 20px;

}

/* col */
.main-cont .content .body .taskCard .col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    /* width: 60%; */
    gap: 10px;
    /* border: 1px solid var(--secondary-color1); */
}

.main-cont .content .body .taskCard .col .featCont{
    display: flex;
    align-items: center;
    gap: 30px;
}

.main-cont .content .body .taskCard .col .featCont .titlecont{
    display: flex;
    align-items: center;
    gap: 10px;
}

.main-cont .content .body .taskCard .col .featCont .titlecont .checkTask{
    height: 24px;
    width: 24px;
    border-radius: 50%;
    border: 0;
    background-color: var(--secondary-color2);
    cursor: pointer;
    transition: all ease-in-out 0.3s;
}

.main-cont .content .body .taskCard .col .featCont .titlecont input{
    font-family: 'Twemoji Country Flags', 'Twemoji Country Flags', -apple-system,BlinkMacSystemFont,"Segoe UI","Noto Sans",system-ui,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    border: 0;
    font-weight: 600;
    font-size: 1.5rem;
    color: var(--primary-color);
} 

.main-cont .content .body .taskCard .col .featCont .titlecont input:focus{
  outline: 0;
}

.main-cont .content .body .taskCard .col .featCont .titlecont input::placeholder{
    font-weight: 600;
    font-size: 1.5rem;
    color: var(--primary-color);
} 

.main-cont .content .body #taskCard-cont .checkTask:hover{
    background-color: var(--red);
    color: var(--background-color)
}

.main-cont .content .body .taskCard .col .titlecont .newTaskTitle{
    font-family: 'Twemoji Country Flags', 'Twemoji Country Flags', -apple-system,BlinkMacSystemFont,"Segoe UI","Noto Sans",system-ui,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1.5rem;
    color: var(--primary-color);
    font-weight: 600;
}

.main-cont .content .body .taskCard .col .newTaskDesc{
    font-family: 'Twemoji Country Flags', 'Twemoji Country Flags', -apple-system,BlinkMacSystemFont,"Segoe UI","Noto Sans",system-ui,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    color: var(--secondary-color);
}

.main-cont .content .body .taskCard .col .strike{
    text-decoration: line-through;
}

.main-cont .content .body .taskCard .col .featCont .propCont{
    display: flex;
    align-items: center;
    gap: 10px;
}

.main-cont .content .body .taskCard .col .featCont .propCont h3{
    background-color: var(--sidebarBgHover);
    color: var(--secondary-color);
    padding: 5px 15px;
    font-size: 1rem;
    border-radius: 5px;
    font-weight: 600;
}

.main-cont .content .body .taskCard .col .col-foot{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-cont .content .body .taskCard .col .col-foot h3{
    background-color: var(--sidebarBgHover);
    color: var(--secondary-color);
    padding: 5px 15px;
    font-size: 1rem;
    border-radius: 5px;
    font-weight: 600;
}

.main-cont .content .body .taskCard .col .col-foot button{
        font-family: 'Twemoji Country Flags', 'Twemoji Country Flags', -apple-system,BlinkMacSystemFont,"Segoe UI","Noto Sans",system-ui,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    border: 0;
    background-color: var(--red);
    color: var(--background-color);
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 500;
    transition: all ease-in-out 0.3s;
    cursor: pointer;

}

.main-cont .content .body .taskCard .col .col-foot button:hover{
    background-color: var(--red1);

}

/* Responsiveness */
@media (max-width: 706px) {
  .main-cont .content .body #form {
    width: 80%;
}

.main-cont .content .body #tasks-cont {
    width: 80%;
}

.main-cont .content .body #add-task-cont #form-head #prop {
    flex-wrap: wrap;
}

.main-cont .content .body #add-task-cont #form-btn {
    justify-content: flex-start;
}

.main-cont .content .body .taskCard .col .featCont .propCont {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
}